@import 'tailwindcss';

body {
    color: whitesmoke;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);

}

@layer base {
    h1 {
        font-size: var(--text-2xl);
    }
    h2 {
        font-size: var(--text-xl);
    }
    h3 {
        font-size: var(--text-lg);
    }
    p {
        font-size: 16px
    }
}